td{
    border: 1px solid black;
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: rgb(138, 43, 226);
}
body{
    margin-left: 500px;
    margin-top: 110px;
}
#barre{
    margin-left: 30px;
    border-radius: 10px;
    border-color: black;
}
#btnInit{

}

.top{
     background-color: aliceblue;
}
.droite{
    background-color: aliceblue;
}