img{
  width: 800px;
}

.img2{
  width: 400px;
  padding-bottom: 250px;
  position: absolute;
  padding-left: 17px;

}
.img3{
  width: 400px;
  float: right;
  padding-right: 115px;
  padding-top: 260px;
  position: absolute;
  padding-left: 17px;
}
.info1{
    color: aliceblue;
  border: 10px solid rgb(56, 76, 255);
  width: 150px;
  text-align: center;
  margin-top: 0px;
  background-color: rgb(56, 76, 255);
  position: absolute;
}
.barregrise{ 
  border: 1px;
background-color: rgb(236, 236, 236);  
display: flex;
width: 1048px;
height: 38px;
margin-right: 100px;
margin-bottom: 50px;
margin-left: 170px;
float: right;
position: absolute;

}
.info{
  border: 1px;
  margin: 10px;
  padding-left: 80px;
}
#info89{
  padding-left: 190px;
  padding-top: 10px;
  
}
.infotxt{
  float: right;
  padding-right: 800px;
  padding-top: 50px;
  padding-left: 200px;
  position: absolute;
} 

.img4{
  width: 150px;
  position: absolute;
  padding-top: 40px;
    
}


h2{
  padding-left: 15px;
  padding-top: 0px;
  color:  rgb(80, 98, 255) ;
  padding-top: 55px;
  position: absolute;
 

}
h5{
  padding-top: 75px;
  padding-left: 15px;
  color: gray;
  position: absolute;
}
#h66{
  padding-top: 15px;
  color: rgb(19, 14, 14);
}
.img5{

  width: 150px;
  padding-top: 40px;
  float: right;
  padding-right: 100px;
}
#derniere{
  color: gray;

}

.img6{
  
}