#div1{
    border: 1px solid black;
}
#div2{
    border: 1px solid red;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    position: absolute;
    text-align: center;
}
#div3{
    border: 1px solid black;
    float: right;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: aquaé;
}
#div4{
    
}

.bouton{
    border: 1px  solid rgb(212, 169, 169);
    border-radius: 7px;
    background-color: rgb(253, 207, 0);
    margin: 3px;
    cursor: pointer;
    width: 300px;
    height: 50px;

}

#todo{
    width: 300px;
    height: 100px;
    margin-left: 465px;
    margin-top: 110px;
}